.home-waterbody-infoCard {
  box-shadow: 4px 4px 2px 1px rgba(111, 111, 168, 0.2);
  border-radius: 14px;
}
.home-waterbody-infoCard-img {
  width: 300px;
  height: 250px;
  border-radius: 14px 14px 0 0;
}
.infoCard-info {
  padding: 10px 10px;
}
.infoCard-name {
  font-weight: 500;
}
.infoCard-subInfo {
  color: rgb(166, 184, 184);
}

.home-species-infoCard {
  padding: 10px;
  box-shadow: 4px 4px 2px 1px rgba(111, 111, 168, 0.2);
  border-radius: 14px;
}
.home-species-infoCard-img {
  width: 150px;
  height: 150px;
  border-radius: 14px 14px 0 0;
}
