.nav {
  position: fixed;
  bottom: 4%;
  width: 100%;
  backdrop-filter: blur(2px);
  border-top: solid;
  border-width: 0.1px;
}
.nav ul {
  display: flex;
  gap: 40px;
  padding: 0;
  justify-content: center;
}
.nav li {
  list-style: none;
  font-size: 0.7rem;
}
.container-nav-icon {
  display: flex;
  justify-content: center;
}
.nav-icon {
  font-size: 2rem;
}
